[submodule "mupen64plus-core-web-netplay"]
	path = mupen64plus-core-web-netplay
	url = git@github.com:cheinr/mupen64plus-core.git
[submodule "mupen64plus-video-glide64mk2"]
	path = mupen64plus-video-glide64mk2
	url = git@github.com:cheinr/mupen64plus-video-glide64mk2.git
[submodule "mupen64plus-rsp-hle"]
	path = mupen64plus-rsp-hle
	url = git@github.com:cheinr/mupen64plus-rsp-hle.git
[submodule "mupen64plus-audio-sdl"]
	path = mupen64plus-audio-sdl
	url = git@github.com:cheinr/mupen64plus-audio-sdl.git
[submodule "mupen64plus-input-sdl-web-netplay"]
	path = mupen64plus-input-sdl-web-netplay
	url = git@github.com:cheinr/mupen64plus-input-sdl.git
[submodule "mupen64plus-ui-console-web-netplay"]
	path = mupen64plus-ui-console-web-netplay
	url = git@github.com:cheinr/mupen64plus-ui-console.git
[submodule "mupen64plus-input-sdl"]
	path = mupen64plus-input-sdl
	url = git@github.com:cheinr/mupen64plus-input-sdl.git
[submodule "mupen64plus-video-rice-web-netplay"]
	path = mupen64plus-video-rice-web-netplay
	url = git@github.com:cheinr/mupen64plus-video-rice.git
[submodule "deps/libsamplerate"]
	path = deps/libsamplerate
	url = git@github.com:cheinr/libsamplerate.git
[submodule "mupen64plus-web-benchmark"]
	path = mupen64plus-web-benchmark
	url = git@github.com:cheinr/mupen64plus-web-benchmark.git
[submodule "GLideN64"]
	path = GLideN64
	url = git@github.com:cheinr/GLideN64.git
[submodule "mupen64plus-rsp-cxd4"]
	path = mupen64plus-rsp-cxd4
	url = git@github.com:cheinr/mupen64plus-rsp-cxd4.git
[submodule "angrylion-rdp-plus"]
	path = angrylion-rdp-plus
	url = git@github.com:cheinr/angrylion-rdp-plus.git
