# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/games
/roms/*

# web audio plugin
mupen64plus-audio-web/projects/unix/_obj-web
mupen64plus-audio-web/projects/unix/mupen64plus-audio-web.js

/GLideN64
/cfg/gliden64


utils/*